*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 23fr;
    grid-template-rows: 1fr 15fr;
}

.head{
    grid-column: 1/-1;
    /* background-color: aqua; */
}

.head-nav{
    width: 100%;
    height: 100%;
    background-color:rgb(214, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
a{
    text-decoration: none;
     font-size: 1.2rem;
     color: black;

}
.nav1{
    width: 20%;
    /* background-color: blueviolet; */
   padding-left:2rem ;

}
input{
    height: 2.5rem;
    width: 50rem;
    border-radius: 5px;
}
.nav3{
    width: 20%;
    /* background-color: blueviolet; */
    padding-left: 14rem;
}
button{
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}
.side{
    grid-row: 2/-1;
    background-color: rgb(214, 212, 212);
    /* display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 5px; */
    /* align-items: center;  */
}
.side-nav{
    height: 100%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}


.main{
    /* background-color: red; */
    display: grid;
    grid-template-rows: 1fr 6fr 6fr;
    grid-template-columns: 1fr 1fr;
}

.body-head{
    grid-column:1/-1 ;
    background-color: antiquewhite;
    /* height: 100%; */
}
.body-nav{
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
}
.body-box{
    /* width: 100vw; */
    /* height: 100vh; */
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: rgb(248, 246, 246);
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    gap: 10px;
}
.box{
    height: 400px;
    width: 650px;
    background-color: rgb(206, 204, 204);
    /* border: 1px solid; */
    border-radius: 5px;
}